 body{
 	margin: 0;
 	padding: 0;
 }

 /*header start*/
 header{
 	border-bottom: 1px solid #EEF0F3;
 	padding: 10px 0;
 }
 .container {
 	overflow: hidden;
    width: 90%;
    /* border: 1px solid; */
    margin: 0 auto;
}

.logo {
	float: left;
	width: 10%;
	/*border: 1px solid red;*/

}
.logo a{

}
.logo a img{
	width: 100%;

}
.menu {
	float: right;
	width: 40%;
	/*border: 1px solid red;*/

}
.menu ul{
	list-style: none;
    float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	text-decoration: none;
    margin: 0 15px;
    display: inline-block;
    font-size: 18px;
    color: #7987AD;
    text-transform: capitalize;
}
.menu ul li a:hover{
    color: #008AFF;
}
.menu ul li:last-child a{
	margin-right: 0;

}
/*header end*/

/*banner start*/

.banner{
	/*border: 1px solid blue;*/
    padding: 50px 0;
}
.container2{
	margin: 0 auto;
   width: 60%;
   /*border: 1px solid red;*/
}
.b_content{
	text-align: center;
}
.b_content h1{
	font-size: 60px;
    margin: 0 90px;
    color: #0F2656;
    line-height: 70px;
}
.b_content h1 span{
	color: #008AFF;
}
.b_content p{
	font-size: 19px;
    margin: 15px 13px 30px;
    color: #0F2656;
    line-height: 25px;
}
.b_img{
	width: 74%;
    /*border: 1px solid green;*/
    margin: 0 auto;
}
.b_img img{
	width: 100%;
}


/*banner end*/
/*success start*/
.success{
   padding: 50px 0;
   /*border: 1px solid;*/
}
.s_content{
   overflow: hidden;
}
.s_left{
   float: left;
   width: 40%;
   text-align: right;
   padding: 16px 20px;
}
.s_left h2{
   font-size: 50px;
   margin: 0;
   color: #F15767;
}
.s_left p{
   font-size: 16px;
   line-height: 25px;
   color: #0F2656;
   margin: 10px 0 20px;
}
.s_right{
   float: right;
   width: 50%;
   padding: 10px 20px;
}
.s_right h1{
   font-size: 58px;
   color: #0F2656;
   margin: 0;
}



/*success end*/